name: Semporia-sync
on:
  schedule:
    - cron: '25 18/12 * * *'
  workflow_dispatch:
  watch:
    types: started
  repository_dispatch:
    types: sync-Semporia-scripts
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }}
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync Semporia-scripts
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/Semporia/Quantumult-X.git"
          source_branch: "master"
          destination_branch: "Semporia"
          github_token: ${{ secrets.PAT }}
